<div class="field has-addons">
    <div class="control is-expanded">
        {{ field }}
    </div>

    <div class="control">
        <button type="button" class="button set-value" value="0">
            Jetzt
        </button>
    </div>

    <div class="control">
        <button type="button" class="button set-value" value="5">
            + 5m
        </button>
    </div>

    <div class="control">
        <button type="button" class="button set-value" value="60">
            + 1h
        </button>
    </div>
</div>
