{% extends 'mentoring/base.html' %}

{% block content %}
    <div class="uk-container uk-container-small uk-margin-top uk-margin-bottom">
        <div class="uk-card uk-card-default">
            <div class="uk-card-header" style="background-color: {{ faculty.color_as_hex }};">
                <h5 class="uk-text-center" style="color: #FFFFFF">Fachschaftsrat {{ faculty.name }}</h5>
            </div>

            <div class="uk-card-body">
                <h3 class="uk-card-title uk-margin-remove-bottom">Registrierung als Mentor*in</h3>

                <p class="uk-text-small uk-margin-remove-top">
                    Eine <span class="uk-text-bold uk-text-warning">verbindliche</span> Registrierung ist bis
                    einschließlich <span class="uk-text-bold uk-text-warning">{{ faculty.deadline }}</span> möglich.
                    Sollte die Teilnahme am Mentoring-Programm unerwartet doch nicht möglich sein, muss eine Abmeldung
                    über den Fachschaftsrat erfolgen.
                </p>

                {% if form.errors %}
                    <div class="uk-alert-danger" uk-alert>
                        Bitte korrigiere alle rot markierten Fehler.
                    </div>
                {% endif %}


                <form method="post">
                    <fieldset class="uk-grid-small uk-fieldset" uk-grid>

                        {% csrf_token %}

                        {{ form.faculty }}

                        <div class="uk-width-1-2@s">
                            <label class="uk-form-label" for="{{ form.first_name.id_for_label }}">{{ form.first_name.label }}</label>

                            {{ form.first_name }}

                            {% if form.first_name.errors %}
                                {% for error in form.first_name.errors %}
                                    <p class="uk-text-small uk-text-danger uk-margin-remove">
                                        {{ error }}
                                    </p>
                                {% endfor %}
                            {% endif %}
                        </div>

                        <div class="uk-width-1-2@s">
                            <label class="uk-form-label" for="{{ form.last_name.id_for_label }}">{{ form.last_name.label }}</label>

                            {{ form.last_name }}

                            {% if form.last_name.errors %}
                                {% for error in form.last_name.errors %}
                                    <p class="uk-text-small uk-text-danger uk-margin-remove">
                                        {{ error }}
                                    </p>
                                {% endfor %}
                            {% endif %}
                        </div>

                        <div class="uk-width-1-1">
                            <label class="uk-form-label" for="{{ form.email.id_for_label }}">{{ form.email.label }}</label>

                            {{ form.email }}

                            {% if form.email.errors %}
                                {% for error in form.email.errors %}
                                    <p class="uk-text-small uk-text-danger uk-margin-remove">
                                        {{ error }}
                                    </p>
                                {% endfor %}
                            {% endif %}
                        </div>

                        <div class="uk-width-1-2@s">
                            <label class="uk-form-label" for="{{ form.phone.id_for_label }}">{{ form.phone.label }}</label>

                            {{ form.phone }}

                            {% if form.phone.errors %}
                                {% for error in form.phone.errors %}
                                    <p class="uk-text-small uk-text-danger uk-margin-remove">
                                        {{ error }}
                                    </p>
                                {% endfor %}
                            {% endif %}
                        </div>

                        <div class="uk-width-1-2@s">
                            <label class="uk-form-label" for="{{ form.program.id_for_label }}">{{ form.program.label }}</label>

                            {{ form.program }}

                            {% if form.program.errors %}
                                {% for error in form.program.errors %}
                                    <p class="uk-text-small uk-text-danger uk-margin-remove">
                                        {{ error }}
                                    </p>
                                {% endfor %}
                            {% endif %}
                        </div>

                        <div class="uk-width-1-2@s">
                            <label class="uk-form-label" for="{{ form.qualification.id_for_label }}">
                                {{ form.qualification }} {{ form.qualification.label }}
                            </label><br>
                            <label class="uk-form-label" for="{{ form.supervision.id_for_label }}">
                                {{ form.supervision }} {{ form.supervision.label }}
                            </label>

                            {% if form.qualification.errors or form.supervision.erros %}
                                {% for error in form.qualification.errors %}
                                    <p class="uk-text-small uk-text-danger uk-margin-remove">
                                        {{ error }}
                                    </p>
                                {% endfor %}

                                {% for error in form.supervision.errors %}
                                    <p class="uk-text-small uk-text-danger uk-margin-remove">
                                        {{ error }}
                                    </p>
                                {% endfor %}
                            {% endif %}
                        </div>

                        <div class="uk-width-1-2@s">
                            <label class="uk-form-label" for="id_privacy">
                                <input id="id_privacy" class="uk-checkbox" type="checkbox" name="privacy"> Einwilligung zur <a target="_blank" class="uk-link" href="https://stura-md.de/datenschutz/">Datenschutzerklärung</a>
                            </label>

                            {% if form.privacy.errors %}
                                {% for error in form.privacy.errors %}
                                    <p class="uk-text-small uk-text-danger uk-margin-remove">
                                        {{ error }}
                                    </p>
                                {% endfor %}
                            {% endif %}
                        </div>
                    </fieldset>

                    <button class="uk-button uk-button-default uk-margin-top" type="submit">Registrieren</button>

                    {% if form.non_field_errors %}
                        {% for error in form.non_field_errors %}
                            <p class="uk-text-danger">{{ error }}</p>
                        {% endfor %}
                    {% endif %}
                </form>
            </div>
            <div class="uk-card-footer">
                <p class="uk-text-meta uk-text-italic">Die angegebenen Daten werden für maximal 12 Monate gespeichert und anschließend gelöscht. Es werden Vorname, Nachname sowie E-Mail Adresse zur Anmeldung für die Schulungen an die <a target="_blank" class="uk-link" href="https://www.ovgu.de/">Otto-von-Guericke-Universität Magdeburg</a> weiter gegeben.</p>
            </div>
        </div>
    </div>
{% endblock %}