{% extends 'mentoring/base.html' %}

{% block content %}
    <section class="hero is-success is-fullheight">
        <div class="hero-body">
            <div>
                <p class="title">
                    Alles fertig.
                </p>
                <p class="subtitle">
                    Du hast dich erfolgreich als Mentor:in registriert. Wir haben dir soeben auch noch eine E-Mail
                    zur Bestätigung geschickt. Solltest du dich doch wieder abmelden wollen, melde dich bitte per
                    E-Mail bei deinem Fachschaftsrat.
                </p>
            </div>
        </div>
    </section>
{% endblock %}