{% extends 'base.html' %}

{% block content %}
    <div class="uk-position-center">
        <div class="uk-card uk-card-default uk-card-body">
            <h3 class="uk-heading-small uk-text-success uk-text-bottom">Alles fertig.</h3>
            <p class="uk-width-xlarge">
                Danke, dass du dich registriert hast.
            </p>
            <a class="uk-button uk-button-default" href="{% url 'mentoring:index' %}">
                Zur Startseite
            </a>
        </div>
    </div>
{% endblock %}